:host {
    left: 0;
    top: 0;
    position: absolute;
    width: 300px;
    min-height: 100vh;
    background: #222327;
    color: #AEAFB3;
    padding: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host h2 {
    border-bottom: 1px solid red;
    padding: 0 0 1rem;
}
