:host {
    background: #121315;
    padding: 1.5rem 2rem 1rem 2rem;
    margin: 0 0 2rem;
    display: block;
    position: relative;
}

:host .row {
    position: relative;
    margin: 0 0 .5rem;
}

:host .row:nth-child(1) {
    border-bottom: 1px solid #2B2B2B;
    padding: 0 0 1rem;
    margin: 0 0 1rem;
}

:host span {
    top: 0;
    right: 0;
    position: absolute;
}

:host small {
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
}

:host i {
    margin: 0 .5rem 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    color: #666;
}
