:host {
    display: block;
    color: white;
    padding: .5rem 1rem;
    border-bottom: 1px solid #232324;
}

:host:nth-child(odd) {
    background: #1D1D20;
}

:host .username {
    display: inline-block;
    font-size: .8em;
    color: #25A6A1;
}

:host.sys {
    color: #88898D;
}

:host.sys .username {
    color: red;
}
