:host {
    position: relative;
    display: inline-block;
    margin: 0 0 3rem;
}

:host .timer {
    display: block;
    position: absolute;
    z-index: 5;
    font-size: 8rem;
    color: white;
    left: 0;
    top: 3.1rem;
    width: 100%;
    text-align: center;
    line-height: 1em;
}

:host .material-icons {
    display: block;
    color: #222327;
    position: relative;
    z-index: 3;
    font-size: 12.8rem;
    left: 0;
    top: 0;
    line-height: 1em;
}
